@font-face {
    font-family: "Rubik";
    src: url(../img/Rubik/static/Rubik-Black.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../img/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../img/Rubik/static/Rubik-ExtraBold.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../img/Rubik/static/Rubik-Light.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../img/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../img/Rubik/static/Rubik-Regular.ttf);
}

